@import url(http://fonts.googleapis.com/css?family=Lusitana|Ruda);

body {
	margin:0;
	padding: 0;
	overflow: hidden;
}

#container {
	overflow: hidden;
}

.text-body{
	font-family: 'Ruda', sans-serif;
	font-size: 14pt;
}

.text-title{
	font-family: 'Lusitana', serif;
	font-size: 48pt;
}

.link-menu{

}

.heading {
	width:200px;
	height: 100px;
	margin:auto;
	padding-top: 15%;
	text-align: center;
}

#subheading {
	font-size: 18pt;
	width: 400px;
	height: 50px;
	margin: auto;
	text-align: center;
}

#contact {
	font-size: 14pt;
	width: 1000px;
	height: 50px;
	margin: auto;
	padding-top: 20px;
	text-align: center;

}

a {
	color: black;
	text-decoration: none;
}

a:link {
	color: black;
}

a:hover {
	color: Sienna;
}

a:active {
	color: #CD853F;
}

#goBt {
	margin: auto;
	text-align: center;

}

#backBt {
	margin: auto;
	text-align: center;
}

.wrap {
	max-width: 900px;
	margin:auto;
}

.imgContainer {
	text-align: center;
	padding: 10px;
}